#ignore data folders for containers
#but modified for Pinehill
/services/
/volumes/
!/volumes/mosquitto/config/mosquitto.conf
/backups/
/.tmp/*
__pycache__
postbuild.sh
pre_backup.sh
post_backup.sh
post_restore.sh
.project_outofdate
.outofdate
.docker_notinstalled
.docker_outofdate
.new_install

!.gitkeep

.vscode
*.code-workspace

